{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebScrape v0.5</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/switch.css' %}" rel="stylesheet" />
    <link type="x-icon" href="{% static 'img/bot.ico' %}" rel="icon" />
  
</head>
<body>

    <div class="main-container">

        <div class="sidebar-item">

            <div class="ham-nav" onclick="Toggle">
                <img class="ham-icon" src="{% static 'img/ham-close.svg' %}" />
            </div>

            <div class="app-id">

                <div class="logo-box">
                    <img src="{% static 'img/bot.png' %}" />
                </div>

                <div class="app-details">
                    <h3>WebScrape v0.5</h3>
                    <div class="switch-mech">

                        <form id="status-form" method="post">
                            {% csrf_token %}
                            <!-- Rounded switch -->
                            <label class="switch">
                                <input id="status-switch" name="switch" type="checkbox" {% if bot.status == 'AE' %} checked {% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </form>

                    </div>
                </div>

            </div>

            <div class="dashboard-tab-container">
                <div class="dashboard-tab">
                    <div class="icn-box">
                        <img src="{% static 'img/account.svg' %}"  />
                    </div>
                    <h3>Accounts</h3>
                </div>

                <div class="dashboard-tab">
                    <div class="icn-box">
                        <img src="{% static 'img/result.svg' %}" />
                    </div>
                    <h3>Data Logs</h3>
                </div>

                <div class="dashboard-tab">
                    <div class="icn-box">
                        <img src="{% static 'img/error.svg' %}" />
                    </div>
                    <h3>Errata</h3>
                </div>

                <a href="{% url 'authenticator:logout' %}">
                    <div class="dashboard-tab">
                        <div class="icn-box">
                            <img src="{% static 'img/logout.svg' %}" />
                        </div>
                        <h3>Log Out</h3>
                    </div>
                </a>


            </div>

        </div>

        <div class="main-item">
            <div class="main-item-wrap">
                <div class="status-container">
                    <div class="status-tab">
                        <h3>Bot Status</h3>
                        <h2 class="status-text">{{ bot.get_status_display }}</h2>

                    </div>
                    <div class="status-tab">
                        <h3>Time Running</h3>
                        <h2>48hrs</h2>
                    </div>
                    <div class="status-tab">
                        <h3>Successful Bookings</h3>
                        <h2>156</h2>
                    </div>
                </div>

                <div class="logs-container">
                    <h3>Data Logs ({{ log_count }} entries)</h3>
                    {% for log in logs %}
                        <p>
                            <strong>{{ forloop.counter }}.</strong> {{ log.log_details }} on {{ log.created }}
                        </p>
                    {% endfor %}
                </div>

            </div>
            
        </div>
    </div>
    
</body>
    <script language="javascript" src="{% static 'js/toggle.js' %}"></script>
    <script>
        document.getElementById('status-switch').addEventListener('change', function() {
            const isChecked = this.checked;
            const botId = "{{ bot.id }}";
            const csrfToken = "{{ csrf_token }}";

            let statusElement = document.querySelector(".status-text");
            if (isChecked){
                statusElement.textContent = "Active";
            }else{
                statusElement.textContent = "Idle";
            }

            fetch("{% url 'botengine:change_status' bot.id %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ status: isChecked ? 'AE' : 'IE' })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
</script>
</html>